<?xml version="1.0" encoding="UTF-8"?>
<PROPSTABLE DESC="TABLENAME">
    <PROPSROW DESC="PARK">
        <SERVICE>ParkService</SERVICE>
        <SERVERS>localhost:1888</SERVERS>
        <ALWAYSTRYLEADER>false</ALWAYSTRYLEADER>
    </PROPSROW>
    <PROPSROW DESC="WORKER">
        <TIMEOUT DESC="FALSE">2</TIMEOUT>
        <SERVERS>localhost:2088</SERVERS>
        <SERVICE>false</SERVICE>
    </PROPSROW>
    <PROPSROW DESC="CTOR">
        <!-- <CTORSERVERS>localhost:1988</CTORSERVERS> -->
        <INITSERVICES>10</INITSERVICES>
        <MAXSERVICES>100</MAXSERVICES>
    </PROPSROW>
    <PROPSROW DESC="COMPUTEMODE">
        <MODE DESC="DEFAULT">0</MODE>
        <MODE>1</MODE>
    </PROPSROW>

    <PROPSROW DESC="LOG">
        <LEVELNAME>ALL</LEVELNAME>
        <LEVELNAME>SEVERE</LEVELNAME>
        <LEVELNAME>WARNING</LEVELNAME>
        <LEVELNAME>INFO</LEVELNAME>
        <LEVELNAME>CONFIG</LEVELNAME>
        <LEVELNAME DESC="LOGLEVEL">FINE</LEVELNAME>
        <LEVELNAME>FINER</LEVELNAME>
        <LEVELNAME>FINEST</LEVELNAME>
        <LEVELNAME>OFF</LEVELNAME>
        <INFO>true</INFO>
        <FINE>false</FINE>
    </PROPSROW>
</PROPSTABLE>